.Controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.Button {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Number {
    font-size: 25px;
    margin: 5px;
    color: #fff;
}


.Button:hover {
    background-color: #fff;
    color: gray;
}